/*
Theme Name: Travelkit
Theme URI: http://themeum.com/wordpress/travelkit
Author: Themeum
Author URI: http://themeum.com/
Description: Multipurpose Travel & Tour WordPress Theme.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: right-sidebar, two-columns
Text Domain: travelkit
*/

@font-face {
  font-family: "travel";
  src:url("fonts/travel.eot");
  src:url("fonts/traveld41d.eot?#iefix") format("embedded-opentype"),
    url("fonts/travel.woff") format("woff"),
    url("fonts/travel.ttf") format("truetype"),
    url("fonts/travel.svg#travel") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "travel" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "travel" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vehicles:before {
  content: "\61";
}
.icon-location:before {
  content: "\66";
}
.icon-hotel:before {
  content: "\62";
}
.icon-flight:before {
  content: "\63";
}


.bg-contact input[type=text], input[type="email"], textarea{
  background: #eee;
  border-radius: 4px;
}
.contact-submit input[type=submit] {
    background: #00aeef;
    padding: 10.5px 30px;
    border: none;
    color: #fff;
}
.site-content .wpb_gmaps_widget .wpb_wrapper {
     padding: 0px !important;
}
.site-content .vc_cta3-content-header h2{
  font-size: 20px;
  font-weight: 200;
}
.site-content .vc_icon_element-inner {
  font-size: 20px;
}
.contact-submit input[type=submit]:hover,
.contact-submit input[type=submit]:focus {
  background: #0195cc;
}

.travelkit-navbar-brand{
  padding: 15px 0;
  display: block;
}
.travelkit-navbar-brand h1{
  font-size: 25px;
}

.home.blog .site-header{
  border-bottom: 1px solid #eaeaea;
}


/* themeum icon listing */

.atmosphere-content ul{
      margin: 0;
    padding: 0;
}
.atmosphere-content ul li {
    font-size: 16px;
    color: #9a9a9a;
    display: inline-flex;
    list-style: none;

}

.atmosphere-content ul li span {
    float: left;
    padding-left: 18px;
    /*width: 95%;*/
}

.atmosphere-content ul li i {
    float: left;
    color: #92278f;
    margin-top: 6px;
}
.atmosphere-content ul li a:hover {
    color: #01a1dc !important;
}
/* end icon listing */


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; margin: 0;}
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 8px 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {background: none; color: inherit; border: none; outline: none; width: 95%; padding: 0; font-weight: 600;}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }
.ui-timepicker-div dd.ui_tpicker_hour,.ui-timepicker-div dd.ui_tpicker_minute{ background: #ddd; border-radius: 10px; height: 3px;margin-bottom: 20px; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/* Component containers
----------------------------------*/

.ui-widget {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.ui-widget .ui-widget {
  font-size: 13px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
}


/* Interaction states
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
   color: #333333;
   background-color: #ffffff;
   font-weight: normal;
   border: 1px solid #cccccc;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  text-decoration: none;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #333333;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #adadad;
  font-weight: normal;
  color: #333333;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #333333;
  text-decoration: none;
}

.ui-widget :active {
  outline: none;
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-state-error,
.ui-state-default {
  position: relative;
  border-width: 1px;
  border-style: solid;
}

.ui-state-highlight p,
.ui-state-error p,
.ui-state-default p {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  margin:7px 15px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #2d6987;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #953b39;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #953b39;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter:Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter:Alpha(Opacity=35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}


.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; 
}

.gallery-caption{
  font-size: 12px;
}
.bypostauthor{
  font-size: 12px;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-all {
  -webkit-border-radius: 4px; /* Safari 4 */
  -moz-border-radius: 4px; /* Firefox 3.6 */
  border-radius: 4px;
}

.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  -webkit-border-top-left-radius: 4px; /* Safari 4 */
  -moz-border-radius-topleft: 4px; /* Firefox 3.6 */
  border-top-left-radius: 4px;
}

.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  -webkit-border-top-right-radius: 4px; /* Safari 4 */
  -moz-border-radius-topright: 4px; /* Firefox 3.6 */
  border-top-right-radius: 4px;
}

.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  -webkit-border-bottom-left-radius: 4px; /* Safari 4 */
  -moz-border-radius-bottomleft: 4px; /* Firefox 3.6 */
  border-bottom-left-radius: 4px;
}

.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  -webkit-border-bottom-right-radius: 4px; /* Safari 4 */
  -moz-border-radius-bottomright: 4px; /* Firefox 3.6 */
  border-bottom-right-radius: 4px;
}




.ui-slider {
  position: relative;
  text-align: left;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 13px;
  border-radius: 15px;
  cursor: default;
  background: #00aeef;
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  -webkit-transition: transform .3s;
  transition: transform .3s;
}
.ui-slider .ui-slider-handle:hover {
  -webkit-transform: scale(1.18);
  transform: scale(1.18);
  cursor: pointer;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
}
.ui-datepicker-buttonpane{
  padding-top: 20px;
}
.ui-datepicker-buttonpane button{
  padding: 2px 15px;
  margin-right: 8px;
  font-weight: 500 !important;
  -webkit-transition: .3s;
  transition: .3s;
}
.ui-datepicker-buttonpane button:hover{
  background-color: #00aeef;
  border-color: #00aeef;
  color: #fff;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
  color: #ffffff;
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -6px;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.owl-item.active.last-owl-active-item+div+div .thm-feature-carosuel-info {
  left: 50%;
  margin-left: -285px;
}

.travelkit-navbar-header .travelkit-navbar-brand img {
  max-width: none !important;
}

.ui-datepicker {
   z-index: 9999 !important;
}