<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>almosaferTrip جولة المسافر</title>
	<atom:link href="http://almosafertrip.net/feed/" rel="self" type="application/rss+xml" />
	<link>http://almosafertrip.net</link>
	<description>Travel Easy !</description>
	<lastBuildDate>Tue, 13 Feb 2018 12:48:59 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.5</generator>

<image>
	<url>http://almosafertrip.net/wp-content/uploads/2018/01/Untitled-2-2.png</url>
	<title>almosaferTrip جولة المسافر</title>
	<link>http://almosafertrip.net</link>
	<width>32</width>
	<height>32</height>
</image> 
</channel>
</rss>
